      [title*="Hosted on free web hosting 000webhost.com. Host your own website for FREE."] {
          display: hidden;
          visibility: hidden;
      }
      /* =======================================================================================navbar ========================================================================= */
      
      body,
      html {
          height: 100%;
          margin: 0;
          padding: 0;
      }
      
      .times {
          height: 50px;
          width: 100px;
          background: black;
          color: white;
          position: fixed;
          z-index: 1;
          text-align: center;
          padding-top: 10px;
          box-shadow: -4px 4px 9px 2px #41acb6bf;
      }
      
      .bgimg {
          background: url(https://res.cloudinary.com/praveenrambalu/image/upload/v1529847876/Praveenfiles/bg.svg);
          height: 100%;
          background-position: center;
          background-size: cover;
          position: relative;
          color: #000;
          font-family: "Share Tech Mono";
      }
      
      .middle {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          text-align: center;
      }
      
      h1 {
          font-size: 40px;
          /* letter-spacing: 30px; */
          font-weight: 100;
      }
      
      #countDown {
          font-weight: lighter;
          word-spacing: 20px;
      }
      
      hr {
          margin: auto;
          width: 80%;
          border: 1.5px solid #000;
      }
      
      h1.mahendra-title {
          font-family: fantasy;
      }
      
      .btn.loginpage {
          background: none;
          border: 0.5px solid black;
          color: green;
          animation: 2s all;
          /* font-family: monospace; */
          font-weight: bold;
      }
      
      .btn.loginpage:hover {
          background: #000;
          color: white;
      }
      
      .dept-title {
          text-align: center;
          padding-top: 25px;
          font-weight: bold;
          text-decoration: underline;
          font-family: "Share Tech Mono";
          text-decoration-style: double;
      }
      
      .fs {
          margin-top: 80px;
      }
      
      .ans {
          margin-left: 100px;
      }
      
      .qs {
          margin-left: 50px;
          font-weight: bold;
          font-size: 20px;
      }
      
      input.btn.btn-info.ansSub {
          margin-left: 50px;
      }
      
      input.form-control.login {
          width: 70%;
          float: left;
      }
      
      .square {
          border-radius: 26px;
          font-size: 100px;
          text-align: center;
          border: 3px solid black;
      }